[submodule "secrets"]
	path = secrets
	url = git@gitlab.com:JanKaifer/nixos-secrets.git

[submodule "pearframe-nixpkgs"]
	path = machines/pearframe/nixpkgs
	url = https://github.com/NixOS/nixpkgs.git

[submodule "vercelframe-nixpkgs"]
	path = machines/vercelframe/nixpkgs
	url = https://github.com/NixOS/nixpkgs.git

[submodule "nixpkgs-unstable"]
	path = modules/nixpkgs-unstable
	url = https://github.com/NixOS/nixpkgs.git

[submodule "modules/home-manager"]
	path = modules/home-manager
	url = https://github.com/nix-community/home-manager.git

[submodule "modules/imtermanence"]
	path = modules/impermanence
	url = https://github.com/nix-community/impermanence.git
